<%- include('../fragments/header') %>
<%
    const graphWidth = 150;
    const graphHeight = 20;
%>

            <content>
                <header>
                    <h1>Home</h1>
                    <h3>DrBrads Account</h3>
                </header>

                <fl-table>
                    <fl-head>
                        <row>
                            <cell>Domain</cell>
                            <cell>Status</cell>
                            <cell>Unique Visitors</cell>
                        </row>
                    </fl-head>
                    <fl-body>
<%
    const points = [];
    for(const domain of data.domains){
        points.push(domain.points);
%>
                        <row>
                            <cell>
                                <a href='/domain/<%= domain.name %>'><%= domain.name %></a>
                            </cell>
                            <cell><%= domain.status ? 'Active' : 'Inactive' %></cell>
                            <cell class='graph'>
                                <svg viewBox='0 0 <%= graphWidth %> <%= graphHeight %>'></svg>
                                <%= domain.points.reduce((sum, value) => sum + value, 0) %>
                            </cell>
                        </row>
<%
    }
%>
                    </fl-body>
                </fl-table>
                <script>
                    const graphWidth = <%= graphWidth %>;
                    const graphHeight = <%= graphHeight %>;
                    const points = <%- JSON.stringify(points) %>;
                </script>
                <script src='/scripts/graph.js'></script>
                <script src='/scripts/home.js'></script>
            </content>

<%- include('../fragments/footer') %>
