<%- include('../../../fragments/header') %>

            <content>
                <header>
                    <h1>DNS</h1>
                    <h3>Records</h3>
                </header>

                <fl-table>
                    <fl-head>
                        <row>
                            <cell class='checkbox'>
                                <input id='<% const uuid = uniqid(); %><%= uuid %>' type='checkbox' />
                                <label for='<%= uuid %>'>
                                    <svg viewBox='0 0 24 24'>
                                        <path />
                                    </svg>
                                </label>
                            </cell>
                            <cell>Type</cell>
                            <cell>Name</cell>
                            <cell>Content</cell>
                            <cell>Proxy Status</cell>
                            <cell>TTL</cell>
                        </row>
                    </fl-head>
                    <fl-body>
<%
    for(const record of data.records){
%>
                        <row>
                            <cell class='checkbox'>
                                <input id='<% const uuid = uniqid(); %><%= uuid %>' type='checkbox' />
                                <label for='<%= uuid %>'>
                                    <svg viewBox='0 0 24 24'>
                                        <path />
                                    </svg>
                                </label>
                            </cell>
                            <cell><%= record.type %></cell>
                            <cell><%= record.name %></cell>
                            <cell><%= record.content %></cell>
                            <cell><%= record.proxy_status ? 'Proxied' : 'DNS Only' %></cell>
                            <cell><%= record.ttl %></cell>
                        </row>
<%
    }
%>

                    </fl-body>
                </fl-table>

                <a class='icon-with-text' href='#add'>
                    <svg viewBox='0 0 24 24'>
                        <path d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z' />
                    </svg>
                    Add Record
                </a>

                <script src='/scripts/main.js'></script>
            </content>

<%- include('../../../fragments/add-record') %>
            <script src='/scripts/domain/dns/record.js'></script>
<%- include('../../../fragments/footer') %>
